Source: libqtzsecurity
Section: libs
Priority: optional
Maintainer: Soroush Rabiei <soroush@ametisco.ir>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: https://github.com/soroush/qtz
Vcs-Git: https://github.com/soroush/qtz

Package: libqtzsecurity0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 libqt5core5a (>= 5.9) , libqt5gui5 (>= 5.9) , libqt5xml5 (>= 5.9) , libqt5sql5 (>= 5.9) ,
 libqca-qt5-2 (>= 2.1) ,
 libqtzcore0 (>= 0.4) , libqtzdata0 (>= 0.3)
Description: Qtz is a Qt-based Application Development Framework.
 QtzSecurity provides:
    * Authentication
    * Access Control Lists
    * Simple Encription
 
 
Package: libqtzsecurity-dev
Section: libdevel
Architecture: any
Depends: libqtzsecurity0 (= ${binary:Version}), ${misc:Depends} ,
 qtbase5-dev (>= 5.9) ,
 libqca-qt5-2-dev (>= 2.1) ,
 libqtzcore-dev (>= 0.4) , libqtzdata-dev (>= 0.3)
Description: This package provides development files to use libqtzsecurity
 You need to install this package, only if you want to develop software using libqtzsecurity
