#include <windows.h>
 
VS_VERSION_INFO     VERSIONINFO
FILEVERSION         0, 2, 0, 0
PRODUCTVERSION      0, 2, 0, 0
FILEFLAGSMASK       0x3fL
FILEFLAGS           0
FILEOS              VOS_NT_WINDOWS32
FILETYPE            VFT_APP
FILESUBTYPE         VFT_DLL
BEGIN
    BLOCK   "VarFileInfo"
    BEGIN
        VALUE   "Translation",  0x409,1200, 0x0429,65001
    END
    BLOCK   "StringFileInfo"
    BEGIN
        BLOCK   "040904b0"
        BEGIN
            VALUE   "CompanyName",      "Phemto Technologies Ltd.\0"
            VALUE   "FileDescription",  "Phemto Qtz User Interface Abstraction Layer.\0"
            VALUE   "FileVersion",      "0.2.0\0"
            VALUE   "InternalName",     "Qtz Widgets\0"
            VALUE   "LegalCopyright",   "Copyright 2012-2014 by Phemto Technologies Ltd. All rights reserved.\0"
            VALUE   "OriginalFilename", "QtzWidgets.dll\0"
            VALUE   "ProductName",      "Qtz Widgets Library\0"
            VALUE   "ProductVersion",   "0.2.0\0"
        END
    END
END
